.title {
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  font-weight: var(--font-bold);
}

.content {
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  justify-content: flex-start;
  font-size: var(--tesxt-sm);
  font-weight: var(--font-medium);
}
