@import '@/styles/vars';

.homePage {
  margin-top: var(--header-height);
  padding: 2rem;

  @media (max-width: $breakpoint-tablet) {
    padding: 1rem 0;
  }
}

.tasksList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 1rem;

  @media (max-width: $breakpoint-mobile) {
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  }
}

.tasksItem {
  position: relative;
}

.actions {
  padding: 2px 4px;
  font-size: var(--text-2xl);
  color: var(--color-icon);
}

.sorting {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 22px;

  @media (max-width: $breakpoint-mobile) {
    flex-direction: column;
    gap: 6px;
  }
}

.select {
  min-width: 230px;
}

.selectLabel {
  margin-right: 8px;
  font-weight: var(--font-bold);
}
