@import 'src/styles/vars';

.sidebar {
  position: fixed;
  width: var(--width-sidebar);
  height: 100vh;
  background-color: var(--color-sidebar-bg);

  @media (max-width: $breakpoint-tablet) {
    display: none;
  }
}
