@import '@/styles/vars';

.addTaskBtn {
  padding: 3px 8px;

  font-size: var(--text-3xl);
  color: var(--color-icon);

  border-radius: 50%;

  transition: 250ms ease-in-out background-color;

  &:hover {
    background-color: var(--color-icon-hover);
  }
}

.textarea {
  min-height: 100px;
  margin: 2rem 0;
}

.actions {
  display: flex;
  justify-content: space-between;

  @media (max-width: $breakpoint-mobile) {
    flex-direction: column-reverse;
    gap: 1rem;
  }
}

.title {
  font-size: var(--text-lg);
  font-weight: var(--font-bold);
}

.list {
  display: flex;
}
