.card {
  display: inline-flex;
  background-color: var(--color-task-card);
}

.header {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;

  padding-bottom: 12px;

  border-bottom: 1px solid var(--color-divider);
}

.createdAt {
  font-size: var(--text-base);
  font-weight: var(--font-bold);
}

.actions {
  padding: 0 4px;
  font-size: var(--text-2xl);
  color: var(--color-icon);
  border-radius: 8px;

  &:hover {
    background-color: var(--color-icon-hover);
  }
}

.content {
  padding: 1rem 0;
}
