.card {
  display: inline-flex;
  max-width: 320px;
  background-color: var(--color-task-card);
}

.header {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;

  padding-bottom: 12px;

  border-bottom: 1px solid var(--color-divider);
}

.createdAt {
  font-size: var(--text-base);
  font-weight: var(--font-bold);
}

.footer {
  display: flex;
  align-items: center;
}

.iconDone {
  width: 22px;
  height: 22px;
  margin-right: auto;

  font-size: var(--text-base);
  color: var(--color-success);
}

.checkbox {
  margin-left: auto;
}

.actions {
  padding: 0 4px;

  font-size: var(--text-2xl);
  color: var(--color-icon);

  border-radius: 8px;

  transition: 200ms ease-in-out background-color;

  &:hover {
    background-color: var(--color-icon-hover);
  }
}

.content {
  flex: 1;
  padding: 1rem 0;
  word-wrap: break-word;
}

.contentDone {
  text-decoration: line-through;
  opacity: 0.4;
}

.priority {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 4px 8px;

  color: var(--color-white);
}
