.root {
  &:disabled {
    cursor: auto;
  }
}

.checkbox {
  user-select: none;
  display: flex;
  flex-direction: row-reverse;

  button {
    display: flex;
    align-items: center;
  }
}

.label {
  display: flex;
  align-items: center;
  font-size: var(--tesxt-sm);
  opacity: 0.6;
}

.icon {
  width: 22px;
  height: 22px;
  padding: 6px;

  color: var(--color-icon);

  border-radius: 100%;

  transition: 250ms ease-in-out background-color;

  &:hover {
    background-color: var(--color-icon-hover);
  }
}
